.game {
  display: flex;
  flex-direction: column;
  width: 98vh;
  height: 98vh;
}

.board {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  flex: 1;
  background-color: white;
  border: 1px solid black;
}

.cell:hover{
  background-color: gray;
}

