.game {
  display: flex;
  flex-direction: column;
  width: 98vh;
  height: 98vh;
}
.boards {
  display: flex;
  flex-direction: row;
  flex: 10;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  height: 50%;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  flex: 1;
  background-color: blue;
  margin: 1px;
}

.board-game .cell.cell-is-on.cell-is-checked, .board-control .cell.cell-is-on {
  background: url(http://upload.wikimedia.org/wikipedia/commons/4/48/Herardic_ship.svg);
  background-size: 100% 100%;
  background-color: blue;
}

.board-control .cell {
  background-color: green;
}

.cell:hover{
  background-color: gray;
}

.btn {
  border: none;
  flex: 1;
} 

