button, section {
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
  width: 98vh;
  height: 98vh;
}

.board {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.grid {
  display: flex;
  flex: 1;
}

.cell {
  display: flex;
  flex: 1;
  background-color: white;
  border: 1px solid black;
}

.cell.cell-is-on {
  background-color: black;
}

.cell.cell-is-off {
  background-color: tomato;
}

.cell.cell-is-undecided {
  background-color: lightgray;
}


.cell.cell-is-newGrid {
  background-color: fuchsia;
}

.cell:hover{
  background-color: gray;
}

